In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('./dataSet/BankNote_Authentication.csv')

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
df['class'].unique()

array([0, 1], dtype=int64)

In [6]:
df['class'].value_counts()

0    762
1    610
Name: class, dtype: int64

In [7]:
df.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

In [8]:
df.columns[:-1]

Index(['variance', 'skewness', 'curtosis', 'entropy'], dtype='object')

In [12]:
for col in df.columns[:-1]:
    print("Column {} \n Max : {} and Min : {} values \n".format(col,df[col].max(),df[col].min()))

Column variance
 Max : 6.8248 and Min : -7.0421 values

Column skewness
 Max : 12.9516 and Min : -13.7731 values

Column curtosis
 Max : 17.9274 and Min : -5.2861 values

Column entropy
 Max : 2.4495 and Min : -8.5482 values

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler = scaler.fit(df.drop('class',axis=1))
scaler.transform(df.drop('class',axis=1))

array([[ 1.12180565,  1.14945512, -0.97597007,  0.35456135],
       [ 1.44706568,  1.06445293, -0.89503626, -0.12876744],
       [ 1.20780971, -0.77735215,  0.12221838,  0.61807317],
       ...,
       [-1.47235682, -2.62164576,  3.75901744, -0.75488418],
       [-1.40669251, -1.75647104,  2.552043  , -0.04315848],
       [-1.04712236, -0.43982168,  0.29861555,  1.1364645 ]])